<!doctype html>
<html>
    <head>
        <title>Adventures of Bowie and Ziggy</title>
        
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway:400,700" rel="stylesheet">
        
    </head>
    <header>
        <h1>Adventures of Bowie and Ziggy!</h1>
    </header>
    <nav>
            <a href="/blog">The Adventures</a>
            <a href="/newpost">New Adventure</a>
            <a class="register" href="/signup">Create Adventures</a>
    </nav>
<body>
    

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
<footer>
    <p>&copy; 2019 | C. M. Kinsey</p>
</footer>
</html>