{% extends "base.html" %}

{% block content %}
    
    {% if adventures|length == 0 %}
    <p>No Adventures Yet (Get out there!)</p>
    {% else %}

        
            {% for adventure in adventures | reverse %}
            <div class="time">
            <h3><a href="/blog?id={{adventure.id}}">{{adventure.title}}</a> |</h3><p> {{adventure.time.strftime(formatter)}}</p>
            </div>
            
            <p>{{adventure.body}}</p>
            <hr />
            {% endfor %}
        

       


    {% endif %}



{% endblock %}

